asgiref==3.5.0
black==21.12b0
click==8.0.4
Django==4.0.3
django-environ==0.8.1
django-stubs==1.9.0
django-stubs-ext==0.3.1
isort==5.10.1
mypy==0.931
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
PyMySQL==1.0.2
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.3
types-PyMySQL==1.0.6
types-pytz==2021.3.5
types-PyYAML==6.0.4
typing-extensions==4.1.1
django-allauth==0.49.0
pillow==9.0.1
django-crispy-forms==1.14.0


