{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<head>
{% load static %}

    <link rel="stylesheet" href="{% static "css/user/login.css" %}">

</head>


<body>

<style>

wrapper {
background-image:url('login_background.png');
}
</style>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->

  {% include 'header_ver2.html' %}

  <!--== End Header Wrapper ==-->
  <main class="main-content">
    <section class="account-login-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7 col-xl-6">
              <div class="login-register-form-wrap">
              <div class="login-register-form">


                <form action="{% url 'user:login' %}" method="post" id="login-form">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="id_email"></label>
                        <input class="form-control" type="email" placeholder="Email" name="email" id="id_email" required>
                        <ul class="errorlist">
                            {{ form.errors.email }}
                        </ul>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="id_password"></label>
                        <input class="form-control" type="password" placeholder="Password" name="password" id="id_password" required>
                        <ul class="errorlist">
                            {{ form.errors.password }}
                        </ul>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <div class="remember-forgot-info">
                          <div class="remember">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">Remember me</label>
                          </div>
                          <div class="forgot-password">
                            <a href="#/">Forgot Password?</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <button type="submit" class="btn-theme">Sign In</button>
                      </div>
                    </div>
                  </div>
                </form>
                <a href="{% provider_login_url 'google'%}">Google 계정으로 로그인</a>
                <div class="login-register-form-info">
                  <p>Don't you have an account? <a href="{% url 'user:sign-up' %}">Register</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Login Area Wrapper ==-->
  </main>

{% include 'footer.html' %}
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-simple-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Find Jobs</a>
            <ul class="sub-menu">
              <li><a href="job.html">Jobs</a></li>
              <li><a href="job-details.html">Job Details</a></li>
            </ul>
          </li>
          <li><a href="employers-details.html">Employers Details</a></li>
          <li><a href="#">Candidates</a>
            <ul class="sub-menu">
              <li><a href="candidate.html">Candidates</a></li>
              <li><a href="candidate-details.html">Candidate Details</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog.html">Blog Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">About us</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="registration.html">Registration</a></li>
              <li><a href="page-not-found.html">Page Not Found</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- Mobile Menu End -->
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

{% include 'js.html' %}


</body>

</html>