{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}


{% load static %}
{% load crispy_forms_tags %}


<style>
    .header_img {
        display: none;
    }
</style>



<body>

<!--wrapper start-->
<div class="wrapper">

    <!--== Start Header Wrapper ==-->

    {% include 'header_ver2.html' %}

    <!--== End Header Wrapper ==-->
    <main class="main-content">
        <section class="account-login-area">
            <div class="container container_login">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <div class="only_login login-register-form-wrap">
                            <div class="login-register-form">
                                <form action="{% url 'user:login' %}" method="post" id="login-form">
                                    {% csrf_token %}
                                    <div class="row">

                                        {{ form.email | as_crispy_field }}
                                        {{ form.password | as_crispy_field }}

                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="remember-forgot-info">
                                                    <div class="remember"><input id="bxid_rememberMe_true"
                                                                                 class="form-check-input"
                                                                                 type="checkbox" value=""
                                                                                 id="defaultCheck1"> <label
                                                            class="form-check-label" for="defaultCheck1">Email
                                                        기억하기</label>

                                                    </div>
                                                    <div class="go_register"></div>
                                                    <a href="{% url 'user:sign-up' %}"><span>회원이 아니신가요?</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="login-form-group">
                                                <button type="submit" class="btn-theme">로그인</button>
                                            </div>
                                        </div>
                                </form>
{#                                <div class="google_wrap">#}
{#                                    <div class="google_class">#}
{#                                        <a class="avatar-google-photo" href="{% provider_login_url 'google' %}"><img#}
{#                                                src="https://pbs.twimg.com/profile_images/770139154898382848/ndFg-IDH_200x200.jpg"></a>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--== End Login Area Wrapper ==-->
    </main>

    {% include 'footer.html' %}
    <!--== End Footer Area Wrapper ==-->

    <!--== Scroll Top Button ==-->
    <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

    <!--== Start Aside Menu ==-->
    <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
           aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
            <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">메뉴 <i
                    class="icofont-simple-left"></i></button>
        </div>
        <div class="offcanvas-body">
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a href="/">홈</a></li>
                    <li><a href="{% url 'careerapp:job' %}">채용정보</a></li>
                    <li><a href="{% url 'articleapp:home' %}">게시판</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'articleapp:free' %}">자유게시판</a></li>
                            <li><a href="{% url 'articleapp:tip' %}">꿀팁게시판</a></li>
                            <li><a href="{% url 'articleapp:question' %}">질문게시판</a></li>
                        </ul>
                    </li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'user:login' %}"><span>로그인</span></a></li>
                        <li><a href="{% url 'user:sign-up' %}"><span>회원가입</span></a></li>
                    {% else %}
                        <li class="has-submenu"><a
                                href="{% url 'user:profile' user.pk %}"><span>마이페이지</span></a>
                        </li>
                        <li><a href="{% url 'user:logout' %}"><span>로그아웃</span></a></li>
                    {% endif %}
                    {#                    <li><a href="contact.html">Contact</a></li>#}
                </ul>
            </div>
            <!-- Mobile Menu End -->
        </div>
    </aside>
    <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

{% include 'js.html'%}
<script type="text/javascript" src="jquery-1.11.0.min.js" ></script>

<script type="text/javascript" src="{% static '/js/user/save_checkbox.js' %}"></script>

<script>
    $(document).ready(function () {

        // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
        let key = getCookie("key");
        $("#id_email").val(key);

        if ($("#id_email").val() != "") { // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
            $("#bxid_rememberMe_true").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
        }

        $("#bxid_rememberMe_true").change(function () { // 체크박스에 변화가 있다면,
            if ($("#bxid_rememberMe_true").is(":checked")) { // 체크박스 체크했을 때,
                setCookie("key", $("#id_email").val(), 7); // 7일 동안 쿠키 보관
            } else { // ID 저장하기 체크 해제 시,
                deleteCookie("key");
            }
        });
        // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
        $("#id_email").keyup(function () { // ID 입력 칸에 ID를 입력할 때,
            if ($("#bxid_rememberMe_true").is(":checked")) { // 체크박스를 체크한 상태라면,
                setCookie("key", $("#id_email").val(), 7); // 7일 동안 쿠키 보관
            }
        });
    });

    function setCookie(cookieName, value, exdays) {
        let exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        let cookieValue = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName) {
        let expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        let cookieData = document.cookie;
        let start = cookieData.indexOf(cookieName);
        let cookieValue = '';
        if (start != -1) {
            start += cookieName.length;
            let end = cookieData.indexOf(';', start);
            if (end == -1) end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }

</script>


</body>
</html>