{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

{% load static %}


<style>
    .header_img {
        display: none;
    }
</style>

<body>

<!--wrapper start-->
<div class="wrapper">

    <!--== Start Header Wrapper ==-->

    {% include 'header_ver2.html' %}

    <!--== End Header Wrapper ==-->
    <main class="main-content">
        <section class="account-login-area">
            <div class="container container_login">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <div class="only_login login-register-form-wrap">
                            <div class="login-register-form">
                                <form action="{% url 'user:login' %}" method="post" id="login-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="id_email"></label>
                                                <input id="id_userLoginId" class="form-control" type="email"
                                                       placeholder="Email"
                                                       name="email" id="id_email" required>
                                                <ul class="errorlist">
                                                    {{ form.errors.email }}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="id_password"></label>
                                                <input id="id_password" class="form-control" type="password"
                                                       placeholder="Password"
                                                       name="password" id="id_password" required>
                                                <ul class="errorlist">
                                                    {{ form.errors.password }}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="remember-forgot-info">
                                                    <div class="remember"><input id="bxid_rememberMe_true"
                                                                                 class="form-check-input"
                                                                                 type="checkbox" value=""
                                                                                 id="defaultCheck1"> <label
                                                            class="form-check-label" for="defaultCheck1">Email
                                                        기억하기</label></div>
                                                    <div class="forgot-password"><a href="#/">비밀번호를 잊어버리셨나요?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="login-form-group">
                                                <button type="submit" class="btn-theme">로그인</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="google_wrap">
                                    <div class="google_class">
                                        <a class="avatar-google-photo" href="{% provider_login_url 'google' %}"><img
                                                src="https://pbs.twimg.com/profile_images/770139154898382848/ndFg-IDH_200x200.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--== End Login Area Wrapper ==-->
    </main>

    {% include 'footer.html' %}
    <!--== End Footer Area Wrapper ==-->

    <!--== Scroll Top Button ==-->
    <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

    <!--== Start Aside Menu ==-->
    <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
           aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
            <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">메뉴 <i
                    class="icofont-simple-left"></i></button>
        </div>
        <div class="offcanvas-body">
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a href="/">홈</a></li>
                    <li><a href="{% url 'careerapp:job' %}">채용정보</a></li>
                    <li><a href="{% url 'articleapp:home' %}">커뮤니티</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'temp1_free' %}">자유게시판</a></li>
                            <li><a href="{% url 'temp1_tip' %}">꿀팁게시판</a></li>
                            <li><a href="{% url 'temp1_question' %}">질문게시판</a></li>
                        </ul>
                    </li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'user:login' %}"><span>로그인</span></a></li>
                        <li><a href="{% url 'user:sign-up' %}"><span>회원가입</span></a></li>
                    {% else %}
                        <li class="has-submenu"><a
                                href="{% url 'user:profile' user.pk %}"><span>마이페이지</span></a>
                        </li>
                        <li><a href="{% url 'user:logout' %}"><span>로그아웃</span></a></li>
                    {% endif %}
                    {#                    <li><a href="contact.html">Contact</a></li>#}
                </ul>
            </div>
            <!-- Mobile Menu End -->
        </div>
    </aside>
    <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->


</body>

</html>