<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% load crispy_forms_tags %}
{% include 'head.html' %}

<body>

<!--wrapper start-->
<div class="wrapper">

    <!--== Start Header Wrapper ==-->

    {% include 'header.html' %}

    <!--== End Header Wrapper ==-->
    {#  profile  #}


    {#  profile  #}
    <main class="main-content">
        <section class="blog-area blog-grid-area">
            <div class="container">
                <div class="row justify-content-between flex-xl-row-reverse">

                    <div class="col-xl-8">
                        <div class="row row-gutter-70">
                            {#프로필 박스#}
                            <div class="col-sm-6 col-lg-4 col-xl-6">
                                <div class="post-item">
                                    <div class="thumb">
                                        <img src="{% static 'img/icons/w1.png' %}" alt="Image" width="370" height="270">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">{{ user.username }}</h4>
                                        <div class="author">{{ user.profile.skill }}</div>
                                        <div class="sns">
                                            <div class="github">
                                                <a href="{{ user.profile.github }}"><img src="{% static 'img/icons/w1.png' %}"></a>
                                            </div>
                                            <div class="blog">
                                                <a href="{{ user.profile.blog }}"><img src="{% static 'img/icons/w1.png' %}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <button id="btn-modal" class="btn btn-success">수정</button>
                                    </div>
                                </div>
                            </div>
                            {#프로필 박스#}

                            {#              피드 리스트  #}
                            <div class="feed-list">

                                <div class="feed">
                                    <div class="feed-title-wrapper">
                                        <div class="feed-activity-desc">
                                            <span class="feed-activity-desc-text">"#aticle_ID 게시물을 스크랩하였습니다."</span>
                                            <span class="feed-create-time">2022-03-26 17:17:43</span>
                                        </div>
                                        <h5 class="feed-group-head">
                                            <a href="/article/article_pk">article제목</a>
                                            <div class="article-author">
                                                <a class="user-name" href="/article/article_pk">게시글 작성자 이름</a>
                                            </div>

                                        </h5>
                                    </div>
                                </div>

                                <div class="feed">
                                    <div class="feed-title-wrapper">
                                        <div class="feed-activity-desc">
                                            <span class="feed-activity-desc-text">"#aticle_ID 게시물을 스크랩하였습니다."</span>
                                            <span class="feed-create-time">2022-03-26 17:17:43</span>
                                        </div>
                                        <h5 class="feed-group-head">
                                            <a href="/article/article_pk">article제목</a>
                                            <div class="article-author">
                                                <a class="user-name" href="/article/article_pk">게시글 작성자 이름</a>
                                            </div>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                            {#              피드 리스트  #}

                        </div>
                    </div>

                    {#카테고리 분류#}
                    <div class="col-xl-4">
                        <div class="blog-sidebar blog-sidebar-left">
                            <div class="widget-item">
                                <div class="widget-body">
                                    <div class="widget-categories">
                                        <ul>
                                            <li><a href="job.html">게시물<span>(16)</span></a></li>
                                            <li><a href="job.html">스크랩<span>(03)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#카테고리 분류#}

                    {#                    모달창#}
                    <div id="modal" class="modal-overlay">
                        <div class="modal-window">
                            <div class="title">
                                <h2>프로필 수정</h2>
                            </div>
                            <div class="close-area" id="close-area">X</div>
                            <div class="content">
                                <form action="{% url 'user:update_profile' user.pk %}" method="post" class="modal-form-groups">
                                    {% csrf_token %}
                                    <div class="modal-form-group">
                                        {{ profile_form.img | as_crispy_field }}
                                        {{ user_form.username | as_crispy_field }}
                                        {{ profile_form.skill | as_crispy_field }}
                                        {{ profile_form.github | as_crispy_field }}
                                        {{ profile_form.blog | as_crispy_field }}
                                    </div>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {#                    모달창#}


                </div>
            </div>
        </section>
        <!--== End Blog Area Wrapper ==-->
    </main>

    {% include 'footer.html' %}
    <!--== End Footer Area Wrapper ==-->

    <!--== Scroll Top Button ==-->
    <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

    <!--== Start Aside Menu ==-->
    <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
           aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
            <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                    class="icofont-simple-left"></i></button>
        </div>
        <div class="offcanvas-body">
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Find Jobs</a>
                        <ul class="sub-menu">
                            <li><a href="job.html">Jobs</a></li>
                            <li><a href="job-details.html">Job Details</a></li>
                        </ul>
                    </li>
                    <li><a href="employers-details.html">Employers Details</a></li>
                    <li><a href="#">Candidates</a>
                        <ul class="sub-menu">
                            <li><a href="candidate.html">Candidates</a></li>
                            <li><a href="candidate-details.html">Candidate Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about-us.html">About us</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="registration.html">Registration</a></li>
                            <li><a href="page-not-found.html">Page Not Found</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <!-- Mobile Menu End -->
        </div>
    </aside>
    <!--== End Aside Menu ==-->
</div>

{% include 'js.html' %}

</body>

</html>