<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->

  {% include 'header.html' %}

  <!--== End Header Wrapper ==-->
{#  profile  #}


{#  profile  #}
  <main class="main-content">
    <section class="blog-area blog-grid-area">
      <div class="container">
        <div class="row justify-content-between flex-xl-row-reverse">
          <div class="col-xl-8">
            <div class="row row-gutter-70">
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/2.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">{{ user.profile.skill }} <a href="blog.html">{{ user.profile.github }}</a></div>
                    <h4 class="title"><a href="blog-details.html">All of these amazing features <br>come at an affordable price!</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/3.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">With WooLentor's drag-and <br>drop interface for creating...</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/4.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">With WooLentor's drag-and <br>drop interface for creating...</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/5.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">Make your store stand out <br>from the others by converting</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2021</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/6.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">All of these amazing features <br>come at an affordable price!</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/7.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">With WooLentor's drag-and <br>drop interface for creating...</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/8.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">With WooLentor's drag-and <br>drop interface for creating...</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2022</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-6">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/9.jpg" alt="Image" width="370" height="270"></a>
                  </div>
                  <div class="content">
                    <div class="author">By <a href="blog.html">Walter Houston</a></div>
                    <h4 class="title"><a href="blog-details.html">Make your store stand out <br>from the others by converting</a></h4>
                    <p>Lorem Ipsum is simpely dummy & text themes print industry orem psumen has been them industry spa also the loep into type setting.</p>
                    <div class="meta">
                      <span class="post-date">03 April, 2021</span>
                      <span class="dots"></span>
                      <span class="post-time">10 min read</span>
                    </div>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
              </div>
              <div class="col-12 text-left">
                <div class="pagination-area">
                  <nav>
                    <ul class="page-numbers d-inline-flex">
                      <li>
                        <a class="page-number active" href="blog.html">1</a>
                      </li>
                      <li>
                        <a class="page-number" href="blog.html">2</a>
                      </li>
                      <li>
                        <a class="page-number" href="blog.html">3</a>
                      </li>
                      <li>
                        <a class="page-number" href="blog.html">4</a>
                      </li>
                      <li>
                        <a class="page-number next" href="blog.html">
                          <i class="icofont-long-arrow-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="blog-sidebar blog-sidebar-left">
              <div class="widget-item">
                <div class="widget-body">
{#                  <div class="widget-search-box">#}
{#                    <form action="#" method="post">#}
{#                      <div class="form-input-item">#}
{#                        <input type="search" id="search2" placeholder="Search here">#}
{#                        <button type="submit" class="btn-src">#}
{#                          <i class="icofont-search"></i>#}
{#                        </button>#}
{#                      </div>#}
{#                    </form>#}
{#                  </div>#}
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-body">
                  <div class="widget-categories">
                    <ul>
                      <li><a href="job.html">게시물<span>(16)</span></a></li>
                      <li><a href="job.html">스크랩<span>(03)</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
{#              <div class="widget-item">#}
{#                <div class="widget-title">#}
{#                  <h3 class="title">Recent Post</h3>#}
{#                </div>#}
{#                <div class="widget-body">#}
{#                  <div class="widget-post">#}
{#                    <div class="widget-blog-post">#}
{#                      <div class="thumb">#}
{#                        <a href="blog-details.html"><img src="assets/img/blog/s1.jpg" alt="Image" width="71" height="70"></a>#}
{#                      </div>#}
{#                      <div class="content">#}
{#                        <h4><a href="blog-details.html">This includes shipment <br>of raw materials.</a></h4>#}
{#                        <div class="meta">#}
{#                          <span class="post-date"><i class="icofont-ui-calendar"></i> 10 August, 2021</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="widget-blog-post">#}
{#                      <div class="thumb">#}
{#                        <a href="blog-details.html"><img src="assets/img/blog/s2.jpg" alt="Image" width="71" height="70"></a>#}
{#                      </div>#}
{#                      <div class="content">#}
{#                        <h4><a href="blog-details.html">All of these amazing <br>features come price.</a></h4>#}
{#                        <div class="meta">#}
{#                          <span class="post-date"><i class="icofont-ui-calendar"></i> 18 August, 2021</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="widget-blog-post">#}
{#                      <div class="thumb">#}
{#                        <a href="blog-details.html"><img src="assets/img/blog/s3.jpg" alt="Image" width="71" height="70"></a>#}
{#                      </div>#}
{#                      <div class="content">#}
{#                        <h4><a href="blog-details.html">This includes shipment <br>of raw materials.</a></h4>#}
{#                        <div class="meta">#}
{#                          <span class="post-date"><i class="icofont-ui-calendar"></i> 19 August, 2021</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="widget-blog-post">#}
{#                      <div class="thumb">#}
{#                        <a href="blog-details.html"><img src="assets/img/blog/s4.jpg" alt="Image" width="71" height="70"></a>#}
{#                      </div>#}
{#                      <div class="content">#}
{#                        <h4><a href="blog-details.html">All of these amazing <br>features come price.</a></h4>#}
{#                        <div class="meta">#}
{#                          <span class="post-date"><i class="icofont-ui-calendar"></i> 10 August, 2021</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="widget-item mb-md-0">#}
{#                <div class="widget-title">#}
{#                  <h3 class="title">Popular Tags</h3>#}
{#                </div>#}
{#                <div class="widget-body">#}
{#                  <div class="widget-tags">#}
{#                    <ul>#}
{#                      <li><a href="job.html">Animal</a></li>#}
{#                      <li><a class="tags-padding mr-0" href="job.html">Bird’s</a></li>#}
{#                      <li><a class="tags-padding" href="job.html">Charity</a></li>#}
{#                      <li><a class="mr-0" href="job.html">Forest</a></li>#}
{#                      <li><a href="job.html">Water</a></li>#}
{#                      <li><a class="tags-padding mr-0" href="job.html">Children</a></li>#}
{#                      <li><a class="tags-padding" href="job.html">Human</a></li>#}
{#                      <li><a href="job.html">Jungle</a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>

 {% include 'footer.html' %}
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-simple-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Find Jobs</a>
            <ul class="sub-menu">
              <li><a href="job.html">Jobs</a></li>
              <li><a href="job-details.html">Job Details</a></li>
            </ul>
          </li>
          <li><a href="employers-details.html">Employers Details</a></li>
          <li><a href="#">Candidates</a>
            <ul class="sub-menu">
              <li><a href="candidate.html">Candidates</a></li>
              <li><a href="candidate-details.html">Candidate Details</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog.html">Blog Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">About us</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="registration.html">Registration</a></li>
              <li><a href="page-not-found.html">Page Not Found</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- Mobile Menu End -->
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

{% include 'js.html' %}


</body>

</html>