.wrapper{
}

.wraper_wraper{
    display: flex;
    margin: 0 auto;
    max-width : 90%;
}


.left_wrapper{
    padding:0.01vw;
    width: 85%;
    max-width: 400px;
    margin: 170px 30px;
    background-color:#badbcc;

}

@media only screen and (max-width: 557px) {
    .content_botton > button {
        margin-top: 2vw;
    }
}
.category_wrapper {
    width: 95%;
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 10px 0px;
}

.category_list{
    list-style: disc;
    color: #20c997;
}

.category_list_wrapper{
    margin-left: 23px;
}

.category_list > a{
    color: black;
}

.categories{
    margin: 0 10px;

}

.posts_wrapper{
    width: 95%;
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 10px 0px;
}

.posts{
    margin: 0px 10px;

}

.post{
    margin-bottom: 1rem;
}

.post_area{
    display: flex;
    /*text-align: center;*/
    align-items: center;
    margin: 0 5px;
    color: black;

}

.post_img{
    width: 3rem;
    height: 3rem;
    background-color: #badbcc;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
}

.post_details{
    text-align: left;
}

.post_user_title{
    padding-bottom: 10px;
}

.post_user_detail{
    font-size: 0.5rem;
}

.post_user_detail > a{
    font-size: 0.5rem;
}

.comment_wrapper{
    width: 95%;
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 10px 0px;
}

.comments{
    margin: 0 10px;
}


/* START RIGHT_WRAPPER*/
.right_wrapper{
    padding: 0.1vw;
    margin: 170px 30px;
    background-color: #9abbac;
    width: 100%;
}

.content_wrapper{
    width: 97%;
    max-width: 1600px;
    margin: 1rem auto;
    background-color: white;

}

.content_img{
    width: 250px;
    height: 350px;
    background-color: #badbcc;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.content_details{
    width: 90%;
    margin: 0 auto;
}

.content_title{
    margin-top: 2vw;
}

.content_title_footet{
    width: 100%;
    margin: 2vw auto 0 auto;
    display: block;

}

.content_title_footet_left_wrapper {
    margin-right: 0rem;
    width: 40%;
}

.content_title_footet_left_wrapper > span{
    font-size: 1rem;
}

.content_title_footet_right_wrapper {
    width: 68%;
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: center;
}

.right_wrapper_icons{
    width: 5rem;
    margin-right: 1rem;
    display: flex;

}

.icon_wrapper{
    width: 50%;
    margin-right: 0.5rem;
}

.icon_cnt{
    width: 50%;
}

.content_main{
    margin-top: 3rem;
}



.content_main > span{
    font-size: 1.2rem;
    font-weight: lighter;
    color: #4e4e4e;
}

.content_comment {
    display: flex;
    flex-direction: row;

}
.content_comment_profile{
    margin-right: 1vw;
    width: 4rem;
    height: 4rem;
    background-color: #badbcc;
    border-radius: 50%;
}
.content_best_comment{
    margin-top: 0.5rem;
}

.content_best_comment > span{
    /*width: 80%;*/
    padding: 0.2rem;
    border-radius: 0.5rem;
    /*background-color: #f4f4f4;*/
    background-color: #badbcc;
    font-weight: bolder;
    color: #000000;
    display:inline-block;

}

.content_best_comment > p{
    margin-top: 0.5rem;
}

.content_best_comment_content{

}

.content_botton {
    display: flex;
    margin: 4rem auto 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.content_botton > button{

    padding: 0.5rem 2rem;
    background-color: #badbcc;
    border: none;
    border-radius: 0.5rem;

}

.search_bar {
    display: flex;
    flex-direction: row;
}

hr{
    width: 100%;
    margin-bottom: 3rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.write_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vw;
}

.btn {
    margin: 0 auto;

}

.new-comment {
    display: flex;
    flex-direction: row;
}

#comment-submit-button:hover {
    background-color: #badbcc;
    width: 5rem;
    margin-left: 1rem;


}
#comment-submit-button {
    width: 5rem;
    margin-left: 1rem;
}