<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->

  {% include 'header.html' %}

  <!--== End Header Wrapper ==-->
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Employers Details Area Wrapper ==-->
    <section class="employers-details-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="employers-details-wrap">
              <div class="employers-details-info">
                <div class="thumb">
                  <img src="assets/img/companies/11.jpg" width="130" height="130" alt="Image-HasTech">
                </div>
                <div class="content">
                  <h4 class="title">Mukianso IT Sulution Ltd.</h4>
                  <ul class="info-list">
                    <li><i class="icofont-location-pin"></i> New York, USA</li>
                    <li><i class="icofont-phone"></i> +88 456 796 457</li>
                  </ul>
                  <button type="button" class="btn-theme">Follow Us</button>
                  <button type="button" class="btn-theme btn-white">Add Review</button>
                </div>
              </div>
              <div class="employers-counter">
                <div class="counter-item">
                  <h4 class="counter">86</h4>
                  <h5 class="title">Total jobs</h5>
                </div>
                <div class="counter-item">
                  <h4 class="counter">27</h4>
                  <h5 class="title">Review</h5>
                </div>
                <div class="counter-item">
                  <h4 class="counter">452</h4>
                  <h5 class="title">Views</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-xl-8">
            <div class="employers-details-item">
              <div class="content">
                <h4 class="title">About Employers</h4>
                <p class="desc">It is a long established fact that a reader will be distracted the readable content of page when looking atits layout. The point of using is that has more-or-less normal a distribution of letters, as opposed to usin content publishing packages web page editors. It is a long established fact that a reader will be distracts by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that has look like readable publishing packages and web page editors.</p>
                <p class="desc">It is a long established fact that a reader will be distracted the readable content of a page when looking atits layout. The point of using is that has more-or-less normal a distribution of letters, as opposed to usin content publishing packages web page editors.</p>
                <ul class="employers-details-list">
                  <li><i class="icofont-check"></i> Developing custom themes (WordPress.org & ThemeForest Standards)</li>
                  <li><i class="icofont-check"></i> Creating reactive website designs</li>
                  <li><i class="icofont-check"></i> Working under strict deadlines</li>
                  <li><i class="icofont-check"></i> Develop page speed optimized themes</li>
                </ul>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="content mb--0 pb-2">
                    <h4 class="title">Open Position</h4>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w1.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content mb--0">
                        <h4 class="name"><a href="company-details.html">Darkento Ltd.</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">Front-end Developer</a></h3>
                      <h5 class="work-type">Full-time</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w2.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content mb--0">
                        <h4 class="name"><a href="company-details.html">Inspire Fitness Co.</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">Senior UI Designer</a></h3>
                      <h5 class="work-type" data-text-color="#ff7e00">Part-time</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w4.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content">
                        <h4 class="name"><a href="company-details.html">Obelus Concepts</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">UX Researcher</a></h3>
                      <h5 class="work-type">Full-time</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w5.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content">
                        <h4 class="name"><a href="company-details.html">Sanguine Skincare</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">Android App Developer</a></h3>
                      <h5 class="work-type" data-text-color="#0054ff">Remote</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w7.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content">
                        <h4 class="name"><a href="company-details.html">Darkento Ltd.</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">Front-end Developer</a></h3>
                      <h5 class="work-type">Full-time</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="assets/img/companies/w8.jpg" width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content">
                        <h4 class="name"><a href="company-details.html">Inspire Fitness Co.</a></h4>
                        <p class="address">New York, USA</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">Senior UI Designer</a></h3>
                      <h5 class="work-type" data-text-color="#ff7e00">Part-time</h5>
                      <p class="desc">CSS3, HTML5, Javascript, Bootstrap, Jquery</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>$5000</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="job-details.html">Apply Now</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="employers-sidebar">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Information</h3>
                </div>
                <div class="summery-info">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="table-name">Categories</td>
                        <td class="dotted">:</td>
                        <td>Design & Software</td>
                      </tr>
                      <tr>
                        <td class="table-name">Since</td>
                        <td class="dotted">:</td>
                        <td>1996</td>
                      </tr>
                      <tr>
                        <td class="table-name">Views</td>
                        <td class="dotted">:</td>
                        <td>568+</td>
                      </tr>
                      <tr>
                        <td class="table-name">Reviews</td>
                        <td class="dotted">:</td>
                        <td>(4.8) <span class="rating"></span></td>
                      </tr>
                      <tr>
                        <td class="table-name">Total Jobs</td>
                        <td class="dotted">:</td>
                        <td>87+</td>
                      </tr>
                      <tr>
                        <td class="table-name">Location</td>
                        <td class="dotted">:</td>
                        <td>New York, USA</td>
                      </tr>
                      <tr>
                        <td class="table-name">Team Members</td>
                        <td class="dotted">:</td>
                        <td>300-500</td>
                      </tr>
                      <tr>
                        <td class="table-name">Job Success</td>
                        <td class="dotted">:</td>
                        <td>98%</td>
                      </tr>
                      <tr>
                        <td class="table-name">Phone</td>
                        <td class="dotted">:</td>
                        <td>+00 568 467 843</td>
                      </tr>
                      <tr>
                        <td class="table-name">Email</td>
                        <td class="dotted">:</td>
                        <td>yourmail@gmail.com</td>
                      </tr>
                      <tr>
                        <td class="table-name">Website</td>
                        <td class="dotted">:</td>
                        <td data-text-color="#ff6000">www.website.com</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Share With</h3>
                </div>
                <div class="social-icons">
                  <a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="icofont-facebook"></i></a>
                  <a href="https://twitter.com" target="_blank" rel="noopener"><i class="icofont-twitter"></i></a>
                  <a href="https://www.skype.com" target="_blank" rel="noopener"><i class="icofont-skype"></i></a>
                  <a href="https://www.pinterest.com" target="_blank" rel="noopener"><i class="icofont-pinterest"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="icofont-dribbble"></i></a>
                </div>
              </div>
              <div class="widget-item widget-contact">
                <div class="widget-title">
                  <h3 class="title">Contact Now</h3>
                </div>
                <div class="widget-contact-form">
                  <form id="contact-form" action="https://whizthemes.com/mail-php/raju/arden/mail.php" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control" type="text" name="con_name" placeholder="Name:">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control" type="email" name="con_email" placeholder="Email:">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" name="con_message" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group mb--0">
                          <button class="btn-theme d-block w-100" type="submit">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </form>

                  <!--== Message Notification ==-->
                  <div class="form-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Employers Details Area Wrapper ==-->
  </main>

{% include 'footer.html' %}
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="icofont-rounded-up"></span></div>

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-simple-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Find Jobs</a>
            <ul class="sub-menu">
              <li><a href="job.html">Jobs</a></li>
              <li><a href="job-details.html">Job Details</a></li>
            </ul>
          </li>
          <li><a href="employers-details.html">Employers Details</a></li>
          <li><a href="#">Candidates</a>
            <ul class="sub-menu">
              <li><a href="candidate.html">Candidates</a></li>
              <li><a href="candidate-details.html">Candidate Details</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog.html">Blog Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">About us</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="registration.html">Registration</a></li>
              <li><a href="page-not-found.html">Page Not Found</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- Mobile Menu End -->
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

{% include 'js.html' %}


</body>

</html>