{% load static %}
<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">

    <!--== Start Footer Main ==-->
    <div class="footer-main">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget-item widget-about">
                        <div class="widget-logo-area">
                            <a href="/">
                                <img class="logo-main" src="{% static 'img/coFi1.png' %}" alt="Logo"/>
                            </a>
                        </div>
                        <p class="desc">Sparta Coding Club Web+AI 1st <br> community for Developers</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="widget-item nav-menu-item1">
                                <a href="/"><h4 class="widget-title">홈</h4></a>
                                <a href="/"><h4 class="widget-collapsed-title-no-sub collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-1">홈</h4></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="widget-item nav-menu-item2">
                                <a href="{% url 'careerapp:job' %}"><h4 class="widget-title">채용정보</h4></a>
                                <a href="{% url 'careerapp:job' %}"><h4 class="widget-collapsed-title-no-sub collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-2">채용정보</h4></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="widget-item nav-menu-item3">
                                <a href="{% url 'articleapp:home' %}"><h4 class="widget-title">커뮤니티</h4></a>
                                <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-3">커뮤니티</h4>
                                <div id="widgetId-3" class="collapse widget-collapse-body">
                                    <div class="collapse-body">
                                        <div class="widget-menu-wrap">
                                            <ul class="nav-menu">
                                                <li><a href="{% url 'articleapp:free' %}">자유게시판</a></li>
                                                <li><a href="{% url 'articleapp:tip' %}">꿀팁게시판</a></li>
                                                <li><a href="{% url 'articleapp:question' %}">질문게시판</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="col-md-3 col-lg-3">
                                <div class="widget-item nav-menu-item3">
                                    <a href="{% url 'user:login' %}"><h4 class="widget-title">로그인</h4></a>
                                    <a href="{% url 'user:login' %}"><h4 class="widget-collapsed-title-no-sub collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-4">로그인</h4></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-3 col-lg-3">
                                <div class="widget-item nav-menu-item3">
                                    <a href="{% url 'user:profile' user.pk %}"><h4 class="widget-title">마이페이지</h4></a>
                                    <a href="{% url 'user:profile' user.pk %}"><h4 class="widget-collapsed-title-no-sub collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-4">마이페이지</h4></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content">
                        <p class="copyright">© 2022 Team3 F5. Made with <i class="icofont-heart"></i> by <a
                                target="_blank" href="https://www.notion.so/coFi-999b633a3bfb426abaed72d18eab0021">강현준 하용운 박다희 김성연 김지용</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Bottom ==-->
</footer>
<!--== End Footer Area Wrapper ==-->