<!--== Start Header Wrapper ==-->
{% load static %}
<header class="header-area transparent">
    <div class="container">


        <div class="row no-gutter align-items-center position-relative">
            <div class="col-12">
                <div class="header-align">
                    <div class="header-align-start">
                        <div class="header-logo-area">
                            <a href="{% url 'home' %}">
                                <img class="logo-main" src="{% static 'img/coFi1.png' %}" alt="Logo"/>
                                <img class="logo-light" src="{% static 'img/logo-light.png' %}" alt="Logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="header-align-center">
                        <div class="header-navigation-area position-relative">
                            <ul class="main-menu nav">
                                <li><a href="/"><span>Home</span></a></li>
                                <li class="has-submenu"><a href="{% url 'careerapp:job' %}"><span>채용정보</span></a>
                                    <ul class="submenu-nav">
                                        <li><a href="{% url 'careerapp:job' %}"><span>채용정보</span></a></li>
                                        {#                      <li><a href="{% url 'careerapp:detail' %}"><span>Job Details</span></a></li>#}
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="{% url 'articleapp:home' %}"><span>커뮤니티</span></a>
                                    <ul class="submenu-nav">
                                        <li><a href="{% url 'articleapp:free' %}"><span>자유게시판</span></a></li>
                                        <li><a href="{% url 'articleapp:tip' %}"><span>꿀팁게시판</span></a></li>
                                        <li><a href="{% url 'articleapp:question' %}"><span>질문게시판</span></a></li>
                                    </ul>

                                </li>

                                {% if not user.is_authenticated %}
                                    <li><a href="{% url 'user:login' %}"><span>로그인</span></a></li>
                                    <li><a href="{% url 'user:sign-up' %}"><span>회원가입</span></a></li>
                                {% else %}
                                    <li class="has-submenu"><a
                                            href="{% url 'user:profile' user.pk %}"><span>마이페이지</span></a>
                                    </li>
                                    <li><a href="{% url 'user:logout' %}"><span>로그아웃</span></a></li>
                                {% endif %}
                                <div class="header-align-end">
                                    <div class="header-action-area">

                                        <button class="btn-menu" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                            <i class="icofont-navigation-menu"></i>
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="header-align-end">
                        <div class="header-action-area">

                            <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                <i class="icofont-navigation-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--== End Header Wrapper ==-->