  <header class="header-area transparent">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="index.html">
                  <img class="logo-main" src="assets/img/coFi.png" alt="Logo" />
                  <img class="logo-light" src="assets/img/logo-light.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li><a href="index.html"><span>Home</span></a></li>
                  <li class="has-submenu"><a href="#/"><span>Community</span></a>
                    <ul class="submenu-nav">
                      <li><a href="job.html"><span>Jobs</span></a></li>
                      <li><a href="job-details.html"><span>Job Details</span></a></li>
                    </ul>
                  </li>
                  <li><a href="career.html"><span>Career</span></a></li>


                  <li class="has-submenu"><a href="#/"><span>Pages</span></a>
                    <ul class="submenu-nav">
                      <li><a href="about-us.html"><span>About us</span></a></li>
                      <li><a href="login.html"><span>Login</span></a></li>
                      <li><a href="registration.html"><span>Registration</span></a></li>
                      <li><a href="page-not-found.html"><span>Page Not Found</span></a></li>
                    </ul>
                  </li>
                  <li class="has-submenu"><a href="#/"><span>Mypage</span></a>
                    <ul class="submenu-nav">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog.html">Blog Left Sidebar</a></li>
                      <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                  </li>

                <li><a href="login.html"><span>logout</span></a></li>

                </ul>
              </div>
            </div>
            <div class="header-align-end">
              <div class="header-action-area">

                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                  <i class="icofont-navigation-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>