{% load static %}
<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}
<!--== articleapp CSS ==-->
<link rel="stylesheet" href="{% static 'css/articleapp/article_write.css' %}">
<link rel="stylesheet" href="{% static 'css/articleapp/article_base.css' %}">

<style>

</style>
<body>
<div class="wrapper">


    {% include 'header_ver2.html' %}

    {% include 'articleapp/article_left_content.html' %}


        {% block content %}
        {% endblock %}


    {% include 'footer.html' %}

    <!--=======================Javascript============================-->

    {% include 'js.html' %}

</div>
</body>

</html>