    <div class="col-4">
        <div class="left_wrapper">
        <div class="category_wrapper">
            <div class="categories">
                <div class="title_wrapper">
                    <h5>Category</h5>
                </div>
                <div class="category_list_wrapper">
                    <ul>
                        <li class="category_list" id="question">
                            <a href="{% url 'articleapp:question' %}" onclick="get_title(question)">질문게시판</a>
                        </li>
                        <li class="category_list">
                            <a href="{% url 'articleapp:free' %}">자유게시판</a>
                        </li>
                        <li class="category_list">
                            <a href="{% url 'articleapp:tip' %}">팁게시판</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="posts_wrapper">
            <div class="posts">
                <div class="title_wrapper">
                    <h5>Recent POST</h5>
                </div>
                {% for article in left_content_articles %}
                    <div class="post">
                    <span>
                        <a href="{% url 'articleapp:article_CRUD' article.pk %}">
                            <div class="post_area" id="post_area_{{ article.id }}">
{#                                <div class="post_img"></div>#}
                                <div class="post_details">
                                    <div class="post_title">
                                        <span class="post_user_title">
                                            📖  {{ article.title }}
                                        </span>
                                    </div>
                                        <div class="post_detail">
                                            <span class="post_user_detail">
                                                {{ article.created_at }}
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </span>
                </div>
                {% endfor %}



            </div>
        </div>
        <div class="comment_wrapper">
            <div class="comments">
                <div class="title_wrapper">
                    <h5>Recent Comments</h5>
                </div>

                {% for comment in left_content_recent_comments %}
                    <div class="comment">
                    <span>
                       ✍ <a href="{% url 'articleapp:article_CRUD' comment.article.pk %}">{{ comment.article.title }}</a> 에
                        <a href="{% url 'user:profile' comment.user.pk %}">{{ comment.user.username }}</a> 님께서 댓글을 남기셨습니다.
                    </span>
                </div>
                {% endfor %}


            </div>

        </div>
    </div>
</div>

