{% extends 'articleapp/article_base.html' %}
{% load static %}

{% block content %}
    <div class="col-8">
        <div class="right_wrapper">
            <div class="content_wrapper">
                <div class="content_img">
                    여기에 이미지이 들어갑니다
                </div>
                <div class="content_details">
                    <div class="content_title">
                        <h1>
                            {{ target_article.title }}
                        </h1>
                    </div>
                    <div class="content_title_footet">
                        <div class="content_title_footet_left_wrapper">
                            <span>
                                {{ target_article.created_at }} by <a href="{% url 'user:profile' target_article.user.pk %}"> {{ target_article.user.username }}</a>
                            </span>
                        </div>

                        <div class="content_title_footet_right_wrapper">
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/hearted.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span></span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/comment.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>{{ target_comment.count }}</span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/eye.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>{{ target_article.article_hits }}</span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/bookmark.png' %}" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="content_main">
                        <span>
                            {{ target_article.content }}
                        </span>
                    </div>
                    <br>
                    <hr>
                    <div class="content_comment">
                        <div class="content_comment_profile"></div>
                        {% if not user.is_authenticated %}
{#                        로그인을 해주세요 하는 html 작성, 로그인으로 바로 갈 수 있게 #}

                        {% else %}
{#                            코멘트 작성하는 html 작성 필요 #}
{#                            코멘트는 더보기에서 보일 수 있게 만들기 #}
                        {% for comment in target_comment %}
                        <div class="content_best_comment">
                            <span>
                                {{ comment.user.username }}
                            </span>
                            <p>
                                {{ comment.content }}
                            </p>
                        </div>

                        {% endfor %}

                    </div>
                        {% endif %}

                    <div class="content_botton">
                        <button> 더보기 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}