<div class="wraper_wraper">
    <div class="col-4">
        <div class="left_wrapper">
        <div class="category_wrapper">
            <div class="categories">
                <div class="title_wrapper">
                    <h5>Category</h5>
                </div>
                <div class="category_list_wrapper">
                    <ul>
                        <li class="category_list" id="question">
                            <a href="{% url 'articleapp:question' %}" onclick="get_title(question)">질문게시판</a>
                        </li>
                        <li class="category_list">
                            <a href="{% url 'articleapp:free' %}">자유게시판</a>
                        </li>
                        <li class="category_list">
                            <a href="{% url 'articleapp:tip' %}">팁게시판</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="posts_wrapper">
            <div class="posts">
                <div class="title_wrapper">
                    <h5>Latest POST</h5>
                </div>
                {% for article in all_articles %}
                    <div class="post">
                    <span>
                        <a href="">
                            <div class="post_area" id="post_area_{{ article.id }}">
                                <div class="post_img"></div>
                                <div class="post_details">
                                    <div class="post_title">
                                        <span class="post_user_title">
                                            {{ article.title }}
                                        </span>
                                    </div>
                                        <div class="post_detail">
                                            <span class="post_user_detail">
                                                {{ article.created_at }}
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </span>
                </div>
                {% endfor %}

                <div class="post">
                    <span>
                        <a href="">
                            <div class="post_area">
                                <div class="post_img"></div>
                                <div class="post_details">
                                    <div class="post_title">
                                        <span class="post_user_title">
                                            아 운동같이 갈사람
                                        </span>
                                    </div>
                                        <div class="post_detail">
                                            <span class="post_user_detail">
                                                march 23, 2022
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </span>
                </div>
                <div class="post">
                    <span>
                        <a href="">
                            <div class="post_area">
                                <div class="post_img"></div>
                                <div class="post_details">
                                    <div class="post_title">
                                        <span class="post_user_title">
                                            아 운동같이 갈사람 진짜 없어..?
                                        </span>
                                    </div>
                                        <div class="post_detail">
                                            <span class="post_user_detail">
                                                march 23, 2022
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </span>
                </div>
                <div class="post">
                    <span>
                        <a href="">
                            <div class="post_area">
                                <div class="post_img"></div>
                                <div class="post_details">
                                    <div class="post_title">
                                        <span class="post_user_title">
                                            나랑 떡볶이 먹으러 갈 사람?
                                        </span>
                                    </div>
                                        <div class="post_detail">
                                            <span class="post_user_detail">
                                                march 23, 2022
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </span>
                </div>

            </div>
        </div>
        <div class="comment_wrapper">
            <div class="comments">
                <div class="title_wrapper">
                    <h5>Recent Comments</h5>
                </div>

                {% for comment in recent_comments %}
                    <div class="comment">
                    <span>
                       ✍ <a href="">{{ comment.article.title }}</a> 에
                        <a href="">{{ comment.user.name }}</a> 님께서 댓글을 남기셨습니다.
                    </span>
                </div>
                {% endfor %}

                <div class="comment">
                    <span>
                       ✍ <a href="">아 운동같이 갈사람</a> 에
                        <a href="">익명의회원1</a> 님께서 댓글을 남기셨습니다.
                    </span>
                </div>

            </div>

        </div>
    </div>
</div>

