{% load static %}
<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<body>

<!--wrapper start-->
<div class="wrapper">

    <!--== Start Header Wrapper ==-->
    {% include 'header.html' %}

    {# End Header Wrpper#}
    <div class="wraper_wraper">
        <div class="col-4">
            <div class="left_wrapper">
            <div class="category_wrapper">
                <div class="categories">
                    <div class="title_wrapper">
                        <h5>Category</h5>
                    </div>
                    <div class="category_list_wrapper">
                        <ul>
                            <li class="category_list">
                                <a href="">게시판1</a>
                            </li>
                            <li class="category_list">
                                <a href="">게시판2</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="posts_wrapper">
                <div class="posts">
                    <div class="title_wrapper">
                        <h5>Latest POST</h5>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                아 운동같이 갈사람
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                아 운동같이 갈사람 진짜 없어..?
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                나랑 떡볶이 먹으러 갈 사람?
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                아 운동하고싶다
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                안자는사람?
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div class="post">
                        <span>
                            <a href="">
                                <div class="post_area">
                                    <div class="post_img"></div>
                                    <div class="post_details">
                                        <div class="post_title">
                                            <span class="post_user_title">
                                                나 지금 치킨시켰다 질문받는다
                                            </span>
                                        </div>
                                            <div class="post_detail">
                                                <span class="post_user_detail">
                                                    march 23, 2022
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment_wrapper">
                <div class="comments">
                    <div class="title_wrapper">
                        <h5>Recent Comments</h5>
                    </div>
                    <div class="comment">
                        <span>
                           ✍ <a href="">아 운동같이 갈사람</a> 에
                            <a href="">익명의회원1</a> 님께서 댓글을 남기셨습니다.
                        </span>
                    </div>
                    <div class="comment">
                        <span>
                           ✍ <a href="">아 운동같이 갈사람</a> 에
                            <a href="">익명의회원2</a> 님께서 댓글을 남기셨습니다.
                        </span>
                    </div>

                </div>

            </div>
        </div>
        </div>
        <div class="col-8">
            <div class="right_wrapper">
            <div class="content_wrapper">
                <div class="content_img">
                    여기에 이미지이 들어갑니다
                </div>
                <div class="content_details">
                    <div class="content_title">
                        <h1>
                            야 같이 운동 갈사람
                        </h1>
                    </div>
                    <div class="content_title_footet">
                        <div class="content_title_footet_left_wrapper">
                            <span>
                                march 23, 2022 by <a href="">오늘운동뭐하지?</a>
                            </span>
                        </div>

                        <div class="content_title_footet_right_wrapper">
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/hearted.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>2</span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/comment.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>2</span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/eye.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>17</span>
                                </div>
                            </div>
                            <div class="right_wrapper_icons">
                                <div class="icon_wrapper">
                                    <img src="{% static 'img/icons/bookmark.png' %}" alt="">
                                </div>
                                <div class="icon_cnt">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_main">
                        <span>
                            오늘 pull day인데 파트너 구함@@
                        </span>
                    </div>
                    <br>
                    <hr>
                    <div class="content_best_comment">
                        <div class="content_best_comment_user">
                            <span>
                                익명의회원1
                            </span>
                        </div>
                        <div class="content_best_comment_content">
                            <span>
                                ㅇㅋ 내가 부스터 챙겨감
                            </span>
                        </div>


                    </div>
                </div>
                <br>
                <br>
                <div class="content_botton">
                    <button> 더보기 </button>
                </div>
            </div>
            </div>
        </div>
    </div>



    {% include 'footer.html' %}


    <!--=======================Javascript============================-->

    {% include 'js.html' %}

</div>

</body>

</html>